<div pTooltip="Choose your Theme" tooltipPosition="bottom" class="flex flex-column align-items-center justify-content-center">
  <p-dropdown [options]="themes" [(ngModel)]="selectedTheme" (onChange)="changeTheme(selectedTheme.id)"
    styleClass="mb-3"></p-dropdown>
</div>

<div class="card">
  <p-table #dt1 [value]="tableData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 15, 20]"
    [globalFilterFields]="['firstName', 'lastName', 'id', 'email']">

    <ng-template pTemplate="caption">
      <div class="flex">
        <button pTooltip="Clear search results" pButton label="Clear" class="mybutton" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pTooltip="Search in any category" tooltipPosition="bottom" [(ngModel)]="searchText" pInputText type="text"
            (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName">Vorname</th>
        <th pSortableColumn="lastName">Nachname</th>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="email">E-Mail</th>
        <th pSortableColumn="messagecounter">Messages</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userData>
      <tr>
        <td>{{userData.firstName}}</td>
        <td>{{userData.lastName}}</td>
        <td>{{userData.id}}</td>
        <td>{{userData.email}}</td>
        <td><p-button label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="{{userData.messagecounter}}" badgeClass="p-badge-danger"></p-button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
